.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 2px solid grey;
    color: black;
    border-radius: 25px;
  }