body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
  );
}

code {
    font-family: 'Montserrat', sans-serif;
}